<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WK a3Innuva get token sample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WKa3InnuvaGetTokenSample.styles.css" asp-append-version="true" />
</head>
<body>    
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a asp-area="" asp-page="/Index" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="~/img/a3developers.png" style="width: 275px; height: 45px" />                
            </a>
        </header>
        <div class="container">
            @RenderBody()
        </div>        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Wolters Kluwer
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>